input {
    font-size: 100%;
    vertical-align: middle;
    outline: none;
    border: 0;
}
%clearfix::after {
    content: '';
    display: block;
    clear: both;
}

%left {
    float: left;
}

%right {
    float: right;
}

%center {
    text-align: center
}

%bgf {
    background-color: #fff;
}

//页面主框限制
#doc {
    width: 100%;
    min-width: 1190px;
    }
body {
    color: #666;
    font: normal 12px/1.5 Verdana, simsun, Sans-Serif;
}
#hd {
    @extend #doc;
}

.ytSecure {
    background-color: #fff;
    padding: 20px 0;
}
.ytWrap {
        width: 1190px;
        margin: 0 auto;
    }
#ft {
    @extend %clearfix;
    width: 100%;
    min-width: 1190px;
    padding-top: 30px;
    background-color: #fff;
    div{
        text-align: center;
    }
}
#hdtop{
    height: 34px;
    border-bottom: 1px solid #fff;
    background-color: #eee;
}
a:hover{
    color: #e5004f;
}
