
//外部链接
.links {
    margin-bottom: 25px;
    a {
        margin: 0 10px;
        color: #757575;
    }
}
//版权
.versions {
    p {
        line-height: 22px;
        color: #b2b2b2;
        a {
            margin: 0 6px;
            color: #b2b2b2;
        }
    }
}
//底部图标 
.lastTubiao {
    padding: 10px 0 20px;
    a {
        display: inline-block;
        margin: 0 12px;
    }
}            
.cnnic {
    width: 112px;
    height: 40px;
}
