@import 'common.scss';
#hdtop {
    height: 34px;
    border-bottom: 1px solid #fff;
    background-color: #eee;
    li{
        line-height: 34px;
        @extend %left;
    }
}
.topMain {
        height: 76px;
    }
.cf {
    zoom: 1;
    @extend %clearfix;
}

.topSide {
    height: 34px;
    @extend %clearfix;
}

.topLeft {
    @extend %left;
    padding-left:4px;
    color: #d4d4d4;
    li:nth-of-type(3) {
        width: 80px;
    }
    li:nth-of-type(5) {
        width: 140px;
    }
    a {
        padding-left: 32px;
        display: inline-block;
    }
    
}
.ytIndex{
    s {
        background-position: -225px 0;
    }
}
.ytWeiXin{
    s {
        background-position: -225px -57px;
    }
   
}
.ytPhone{
    s{
        height: 20px;
        background: url(./img/phone.png) center 0 no-repeat;
    }
     b{
        left: 85px;
        top: 16px;
    }
}
.separator {
    width: 0;
    height: 14px;
    line-height: 14px;
    position: relative;
    top: 10px;
    left: 0;
    border-left: 1px solid #ccc;
    margin: 0 4px;
}
li {
    a {
        display: inline-block;
        position: relative;
        &:hover {
            color: #e5004f;
        }
        s {
            display: block;
            position: absolute;
            top: 7px;
            left: 6px;
            z-index: 2;
            width: 21px;
            height: 21px;
            background: url(./img/header-02.png) 0 0 no-repeat;
        }
        b {
            position: absolute;
            left: 62px;
            top: 16px;
            width: 9px;
            height: 5px;
            overflow: hidden;
            background: url(./img/header-02.png) -175px -111px no-repeat;
            -webkit-transition: -webkit-transform .2s ease-in 0s;            
        }
    }
}
.topRight {
    @extend %right;
    a{
        padding: 0 10px 0;
    }
    .ytLogin,.ytRegister{
        padding: 0;
    }
}
.ytUser{
    padding-right: 10px;
    span{
        border-right: 0;
        height: 34px;
        line-height: 34px;
    }
}

.myYt{
    a{
      width: 52px;
    }
}