@import 'common.scss';

#hdmenu{
	border-bottom: 1px solid #2d2e2e;
    background-color: #fff;
}
.topMenu{
	@extend %clearfix;
    height: 39px;
    position: relative;
    //全部分类
    .menu{
			float: left;
			width: 210px;
		    height: 39px;
		    position: relative;
	    .menuTitle{
	    	width: 210px;
		    height: 39px;
		    position: relative;
		    .mTitle{
		    	position: absolute;
			    z-index: 2;
			    width: 210px;
			    height: 39px;
			    display: block;
			    float: left;
			    font: 400 18px/39px "微软雅黑";
			    color: #fff;
			    text-align: center;
			    cursor: pointer;
			    background-color: #222;
		    }
	    }
	    .menuList{
	    	@extend %clearfix;
			dl{
			    float:left;
			    margin-bottom: 1px;
			    color: #666;
			    dt{
			    	float:left;
				    width: 210px;
				    height: 30px;
				    padding-top: 16px;
				    background-color: #333;
				    &:hover{
			    		background-color: #e5004f;
			    }
				    a{
				    	float:left;
				    	color:#fff;
				    	&.category{
				    		margin:0 0 0 18px;
				    		height:20px;
				    		display:inline;
				    		font:400 16px/18px "微软雅黑"
				    	}
				    }
				    i{
				    	float:left;
				    	width:0;
				    	height:16px;
				    	line-height:16px;
				    	position:relative;
				    	top:2px;
				    	left:0;
				    	font-size:0;
				    	overflow:hidden;
				    	border-left:1px solid #999;
				    	margin:0 8px
				    }
				    div{
				    	span {
				    		float:right;
				    		width:6px;
				    		height:11px;
				    		margin:5px 15px 0 0;
				    		background:url(./img/header-02.png) -209px -111px no-repeat;
				    	}
				    }
			    }
			    
			    .submenuList{
			    	display: none;
			    }
			}
	    }
	}

//分类第一导航的小图标
.menuList dl {
  dt a em {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 7px;
    vertical-align: top;
    background: url(./img/header-02.png) no-repeat;
  }
	&.dl_1>dt>a>em {
    background-position: 0 -108px;
  }
  &.dl_2>dt>a>em {
    background-position: -17px -110px;
  }
  &.dl_3>dt>a>em {
    background-position: -34px -110px;
  }
  
  &.dl_4>dt>a>em {
    background-position: -51px -111px;
  }
  &.dl_5>dt>a>em {
    background-position: -68px -111px;
  }
  &.dl_6>dt>a>em {
    background-position: -85px -110px;
  }
  &.dl_7>dt>a>em {
    background-position: -102px -111px;
  }
  &.dl_8>dt>a>em {
    background-position: -119px -111px;
  }
  &.dl_9>dt>a>em {
    background-position: -136px -111px;
  }
  &.dl_10>dt>a>em {
    background-position: -153px -111px;
  }
  
  &.dl_1>dt:hover>a>em {
    background-position: 0 -126px;
  }
  &.dl_2>dt:hover>a>em {
    background-position: -17px -128px;
  }
  &.dl_3>dt:hover>a>em {
    background-position: -34px -128px;
  }
  
  &.dl_4>dt:hover>a>em {
    background-position: -51px -129px;
  }
  &.dl_5>dt:hover>a>em {
    background-position: -68px -129px;
  }
  &.dl_6>dt:hover>a>em {
    background-position: -85px -128px;
  }
  &.dl_7>dt:hover>a>em {
    background-position: -102px -129px;
  }
  &.dl_8>dt:hover>a>em {
    background-position: -119px -129px;
  }
  &.dl_9>dt:hover>a>em {
    background-position: -136px -129px;
  }
  &.dl_10>dt:hover>a>em {
    background-position: -153px -129px;
  }
  
  dd {
    visibility: visible;
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 210px;
    &.height-limit {
      height: 470px;
      overflow: hidden;
      zoom: 1;
    }
  }
}

	//名品馆
	.navHr{
		float: left;
		li{
		    float: left;
		    height: 39px;
		    padding: 0 15px;
		    position: relative;
		    a{
	    	    height: 39px;
			    overflow: hidden;
			    font: 400 16px/20px "微软雅黑";
			    color: #323333;
			    text-align: center;
				span{
				    height: 26px;
				    position: relative;
				    padding: 10px 10px 0;
				    border-bottom: 3px solid #fff;
				}
				&:hover{
		    		color:#e5004f;
		    		span{
		    			border-bottom: 3px solid #e5004f;
		    		}
				}
		    }
		}
	}
	//积分商城
	.navRr{
		float: right;
	    height: 38px;
		padding-top: 1px;
		color: #cbcbcb;
		a{
		    margin: 0 8px;
    		font: 400 14px/38px "微软雅黑";
    		&:hover{
	    		color:#e5004f;
			}
		}
	}
}


