//引入外部文件

/* 重置样式 */

@import 'reset.scss';

/* 公共样式 */

@import 'common.scss';

/* 公共样式2 */

.ytWrap {
	width: 1190px;
	// background-color: #eee;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.prelt {
	position: relative;
}

.pabst {
	position: absolute;
}

.dnone {
	display: none;
}

.dflex {
	display: flex;
}

.dleft {
	justify-content: flex-start;
}

.dright {
	justify-content: flex-end;
}

.dblock {
	display: block;
}

.hover{
	color:#e5004f;
}
//竖线
.rhLine {
	float: left;
	width: 0;
	height: 14px;
	line-height: 14px;
	position: relative;
	top: 10px;
	left: 0;
	font-size: 0;
	overflow: hidden;
	border-left: 1px solid #ccc;
	margin: 0 4px;
}

//图标大小
.rhIcon {
	font-size: 14px;
	color: #fff;
}

//圆形块
.rhCircle {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #000;
	position: absolute;
}

//动画效果
.animation {
	font-size: 12px;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-transform: rotate(0deg);
}

//选项卡样式
.navtab{
	display: flex;
	.toggletab{
		border-bottom: 3px solid #000;
		&:hover{
			border-bottom: 3px solid #e5004f;
		} 
	}
}
/* 页头样式 */
@import 'header.scss';

/* <!-- 内容部分 --> */
@import 'article.scss';
