body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

ul { list-style: none; }

a { text-decoration: none; color: #666; }

input { font-size: 100%; vertical-align: middle; outline: none; border: 0; }

#doc, #hd { width: 100%; min-width: 1190px; }

body { color: #666; font: normal 12px/1.5 Verdana, simsun, Sans-Serif; }

.ytSecure { background-color: #fff; padding: 20px 0; }

.ytWrap { width: 1190px; margin: 0 auto; }

#ft { width: 100%; min-width: 1190px; padding-top: 30px; background-color: #fff; }

#ft div { text-align: center; }

.itips { width: 1188px; height: 88px; margin-bottom: 35px; border: 1px solid #eee; background-color: #f7f7f7; }

span { float: left; border-right: 1px solid #eee; height: 65px; }

span strong { display: block; font-size: 16px; font-weight: 400; color: #000; }

span strong i { font-style: normal; color: #e5004f; }

span b { font-weight: 400; color: #888; }

.service { width: 282px; height: 68px; padding: 20px 0 0 45px; }

.service strong { display: inline-block; padding: 0 20px 0 24px; font-size: 20px; font-family: Arial; color: #e5004f; background: url(./img/footer-01.png) 2px 0 no-repeat; }

.service b { padding-left: 24px; font-size: 14px; font-family: Arial; background: url(./img/footer-01.png) 0 -28px no-repeat; }

.exChange { width: 186px; padding: 23px 0 0 100px; background: url(./img/footer-01.png) 52px -56px no-repeat; }

.quality { width: 182px; padding: 23px 0 0 104px; background: url(./img/footer-01.png) 52px -132px no-repeat; }

.carry { width: 140px; border-right: none; padding: 23px 0 0 115px; background: url(./img/footer-01.png) 52px -203px no-repeat; }

.links { margin-bottom: 25px; }

.links a { margin: 0 10px; color: #757575; }

.versions p { line-height: 22px; color: #b2b2b2; }

.versions p a { margin: 0 6px; color: #b2b2b2; }

.lastTubiao { padding: 10px 0 20px; }

.lastTubiao a { display: inline-block; margin: 0 12px; }

.cnnic { width: 112px; height: 40px; }

body { background-color: #f9f9f9; }
