@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

ul { list-style: none; }

a { text-decoration: none; color: #666; }

input { font-size: 100%; vertical-align: middle; outline: none; border: 0; }

#ft::after, .cart .minishop::after, .ytWrap::after, .ytRight header ul::after, .mainLogin p::after { content: ''; display: block; clear: both; }

#doc, #hd { width: 100%; min-width: 1190px; }

body { color: #666; font: normal 12px/1.5 Verdana, simsun, Sans-Serif; }

.ytSecure { background-color: #fff; padding: 20px 0; }

.ytWrap { width: 1190px; margin: 0 auto; }

#ft { width: 100%; min-width: 1190px; padding-top: 30px; background-color: #fff; }

#ft div { text-align: center; }

#hdtop { height: 34px; border-bottom: 1px solid #fff; background-color: #eee; }

a:hover { color: #e5004f; text-decoration: none; }

input { font-size: 100%; vertical-align: middle; outline: none; border: 0; }

#ft::after, .cart .minishop::after, .ytWrap::after, .ytRight header ul::after, .mainLogin p::after { content: ''; display: block; clear: both; }

#doc, #hd { width: 100%; min-width: 1190px; }

body { color: #666; font: normal 12px/1.5 Verdana, simsun, Sans-Serif; }

.ytSecure { background-color: #fff; padding: 20px 0; }

.ytWrap { width: 1190px; margin: 0 auto; }

#ft { width: 100%; min-width: 1190px; padding-top: 30px; background-color: #fff; }

#ft div { text-align: center; }

#hdtop { height: 34px; border-bottom: 1px solid #fff; background-color: #eee; }

a:hover { color: #e5004f; text-decoration: none; }

#hdmain { background-color: #fff; }

#hdmain .logo { float: left; height: 76px; margin: 0 5px 0 0; margin-top: 21px; }

#hdmain .logo a { display: block; background: #eee url(./img/header-20160223.gif) 0 0 no-repeat; width: 215px; height: 76px; }

#hdmain .topMain { height: 120px; }

.cart { float: right; width: 160px; height: 34px; margin: 40px 0 0 18px; position: relative; }

.cart .minishop { display: inline-block; width: 160px; height: 34px; background: #323333 url(./img/header-02.png) -55px -76px no-repeat; }

.cart .minishop i { float: left; display: inline-block; height: 34px; line-height: 34px; padding-left: 48px; color: #fff; }

.cart .minishop i strong { padding: 0 5px; font: 400 16px/34px Arial; color: #e5004f; vertical-align: middle; }

.cart .minishop b { float: right; margin-right: 20px; margin-top: 16px; width: 7px; height: 4px; overflow: hidden; -webkit-transition: -webkit-transform .2s ease-in 0s; background: url(./img/header-02.png) -189px -111px no-repeat; }

.search { float: right; width: 498px; margin-top: 40px; position: relative; }

.search .searchbox { height: 30px; margin-bottom: 8px; border: 2px solid #323333; }

.search .searchbox input { width: 440px; height: 30px; line-height: 30px; text-indent: 5px; padding: 0 5px; float: left; background: transparent; border: none; color: #888; }

.search .searchbox button { float: left; width: 44px; height: 30px; border: none; overflow: hidden; cursor: pointer; background: #323333 url(./img/header-02.png) 0 -78px no-repeat; }

.search .hotkeyword { height: 18px; overflow: hidden; }

.search .hotkeyword a { float: left; margin-right: 12px; color: #888; }

.search .hotkeyword a:hover { text-decoration: underline; color: #e5004f; }

.search .hotkeyword .yt_hotword { color: #e5004f; }

.itips { float: right; height: 76px; }

.itips span { float: left; height: 41px; font-family: "微软雅黑"; }

.itips span strong { display: block; font-size: 16px; font-weight: 400; color: #000; }

.itips span strong i { font-style: normal; color: #e5004f; }

.itips span b { font-weight: 400; color: #888; }

.itips .exChange { width: 145px; padding: 0 0 0 45px; background: url(./img/footer-01.png) 0 -80px no-repeat; }

.itips .quality { width: 130px; padding: 0 0 0 48px; background: url(./img/footer-01.png) 0 -154px no-repeat; }

.itips .carry { width: 110px; border-right: none; padding: 0 0 0 60px; background: url(./img/footer-01.png) 0 -225px no-repeat; }

.links { margin-bottom: 25px; }

.links a { margin: 0 10px; color: #757575; }

.versions p { line-height: 22px; color: #b2b2b2; }

.versions p a { margin: 0 6px; color: #b2b2b2; }

.lastTubiao { padding: 10px 0 20px; }

.lastTubiao a { display: inline-block; margin: 0 12px; }

.cnnic { width: 112px; height: 40px; }

span { margin-top: 35px; }

#bd { width: 100%; padding: 60px 0 50px; background-color: #f9f9f9; margin: 0 auto; }

#bd div div { overflow: hidden; }

.login { float: left; width: 124px; height: 24px; margin-top: 52px; background: url(img/header-login.png) 0 0 no-repeat; }

.ytWrap { width: 1190px; margin: 0 auto; }

.ytLeft { float: left; width: 780px; overflow: hidden; background-color: #fff; }

.ytRight { float: right; background-color: #fff; width: 385px; height: 460px; box-sizing: border-box; }

.ytRight header { width: 100%; height: 40px; border-bottom: 1px solid #d5d5d5; }

.ytRight header ul { height: 40px; line-height: 40px; cursor: pointer; }

.ytRight header ul li { float: left; display: block; box-sizing: border-box; width: 33%; text-align: center; font-size: 16px; }

.ytRight header ul li.active { border-bottom: 3px solid #e5004f; color: #333; }

.ytRight header ul li b { float: right; display: block; margin-top: 12px; width: 0px; height: 16px; border: 1px solid #ddd; }

.mainLogin { background-color: #f9f9f9; padding-top: 20px; width: 386px; height: 320px; box-sizing: border-box; }

.mainLogin p { box-sizing: border-box; position: relative; height: 61px; line-height: 39px; background: #fff; padding: 10px 18px; border-top: 1px solid #d5d5d5; }

.mainLogin p:last-child { border-top: none; background-color: #f9f9f9; }

.mainLogin p.login-button { background-color: #f9f9f9; padding: 5px 18px; }

.mainLogin p input { margin-left: 40px; height: 30px; line-height: 30px; width: 80%; font-size: 16px; color: #666; }

.mainLogin p input.login-button { margin-left: 0; text-align: center; height: 50px; line-height: 50px; width: 100%; font-size: 18px; font-weight: 500; border-radius: 5px; background-color: #e5004f; color: #fff; cursor: pointer; }

.mainLogin p img { display: inline-block; width: 25px; height: 25px; border-radius: 50%; position: absolute; top: 15px; left: 15px; }

.mainLogin p:nth-of-type(2) img { border-radius: 0; }

.mainLogin p a { height: 30px; line-height: 30px; cursor: pointer; }

.forget-password { float: left; font-size: 16px; color: #999; padding-left: 10px; padding-right: 2px; }

.register { float: right; font-size: 14px; display: block; padding-right: 2px; color: #e5004f; }

.scancode-login { display: none; width: 280px; height: 220px; margin: 0 auto; }

.qrcode-login { height: 220px; }

.qrcode-login h3 { margin-left: 30px; color: #999; }

.qrcode-login div { height: 130px; padding-top: 20px; padding-left: 80px; }

.qrcode-login p { text-indent: 4em; }

.qrcode-desc { padding-top: 0; height: 40px; background: #F9f9f9; }

.qrcode-desc a { color: #999; }

.loginThird { padding: 18px 0; height: 70px; }

.cooperate-ui, .cooperate-list { position: relative; height: 24px; text-align: center; margin: 0 20px; }

.cooperate-title { position: relative; z-index: 2; display: inline-block; height: 24px; padding: 0 5px; font-weight: 400; font-size: 12px; text-align: center; background-color: #fff; color: #999; }

/* p {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 10px;
    height: 1px;
    overflow: hidden;
    background-color: #ccc;
} */
.cooperate-list { margin-top: 10px; }

.cooperate-list a { color: #999; }

.qrcode-tip { padding-top: 0; }
