@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

ul { list-style: none; }

a { text-decoration: none; color: #666; }

input { font-size: 100%; vertical-align: middle; outline: none; border: 0; }

.ytWrap::after { content: ''; display: block; clear: both; }

.ytLeft { float: left; }

.ytRight, .getCode { float: right; }

.ytRight h1, .getCode, #submitButton { text-align: center; }

#doc, #hd { width: 100%; min-width: 1190px; }

body { color: #666; font: normal 12px/1.5 Verdana, simsun, Sans-Serif; }

.ytSecure { background-color: #fff; padding: 20px 0; }

.ytWrap { width: 1190px; margin: 0 auto; }

#ft { width: 100%; min-width: 1190px; padding-top: 30px; background-color: #fff; }

#ft div { text-align: center; }

input { font-size: 100%; vertical-align: middle; outline: none; border: 0; }

.ytWrap::after { content: ''; display: block; clear: both; }

.ytLeft { float: left; }

.ytRight, .getCode { float: right; }

.ytRight h1, .getCode, #submitButton { text-align: center; }

#doc, #hd { width: 100%; min-width: 1190px; }

body { color: #666; font: normal 12px/1.5 Verdana, simsun, Sans-Serif; }

.ytSecure { background-color: #fff; padding: 20px 0; }

.ytWrap { width: 1190px; margin: 0 auto; }

#ft { width: 100%; min-width: 1190px; padding-top: 30px; background-color: #fff; }

#ft div { text-align: center; }

#hdmain { background-color: #fff; height: 76px; }

.logo { float: left; margin: 0 5px 0 0; }

.logo a { display: block; background: #eee url(./img/header-20160223.gif) 0 0 no-repeat; width: 215px; height: 76px; }

.itips { float: right; height: 76px; }

span { float: left; height: 41px; margin-top: 35px; font-family: "微软雅黑"; }

span strong { display: block; font-size: 16px; font-weight: 400; color: #000; }

span strong i { font-style: normal; color: #e5004f; }

span b { font-weight: 400; color: #888; }

.exChange { width: 145px; padding: 0 0 0 45px; background: url(./img/footer-01.png) 0 -80px no-repeat; }

.quality { width: 130px; padding: 0 0 0 48px; background: url(./img/footer-01.png) 0 -154px no-repeat; }

.carry { width: 110px; border-right: none; padding: 0 0 0 60px; background: url(./img/footer-01.png) 0 -225px no-repeat; }

.links { margin-bottom: 25px; }

.links a { margin: 0 10px; color: #757575; }

.versions p { line-height: 22px; color: #b2b2b2; }

.versions p a { margin: 0 6px; color: #b2b2b2; }

.lastTubiao { padding: 10px 0 20px; }

.lastTubiao a { display: inline-block; margin: 0 12px; }

.cnnic { width: 112px; height: 40px; }

.register { float: left; width: 124px; height: 24px; margin-top: 52px; background: url(img/header-login.png) 0 -24px no-repeat; }

#bd { width: 100%; padding: 60px 0 50px; background-color: #f9f9f9; margin: 0 auto; }

#bd div div { overflow: hidden; }

.ytLeft { width: 780px; }

.ytRight { position: relative; width: 385px; margin: 0 auto; }

.ytRight div a { color: red; }

.title { background: #fff; height: 40px; line-height: 39px; font-size: 14px; border-bottom: 3px solid #e5004f; color: #333; }

.loginTip { box-sizing: border-box; padding: 10px 20px; text-align: right; font-size: 14px; color: #000; }

form p { background: #fff; height: 44px; line-height: 44px; border-bottom: 1px solid #d2d2d2; padding-left: 20px; }

form p input { height: 20px; width: 50%; color: #333; }

form p b { color: red; }

.getCode { margin-right: 20px; margin-top: 8px; width: 90px; height: 28px; line-height: 26px; border: 1px solid #999; border-radius: 3px; font-size: 12px; color: #666; background: #fff; }

.useExplain { line-height: 16px; padding: 10px; color: #666; font-size: 12px; }

#submitButton { height: 35px; line-height: 35px; color: #fff; display: block; width: 80%; margin: 0 auto 15px; font-size: 14px; background: #ccc; border: 1px solid #ccc; }

#submitButton.active { cursor: pointer; border: 1px solid #e8004c; background: #f1f1f1; color: #e8004c; }
